body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-180deg, #111020, #0C2340);
    position: relative;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotate-galaxy {
    from {
        transform: rotate(0deg) translateX(11px) rotate(0deg);
    }

    to {
        transform: rotate(-360deg) translateX(11px) rotate(360deg);
    }
}

.sun {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: linear-gradient(-180deg, #fe5a1d, #ffbf00);
    box-shadow: 0px 0px 15px #f9c05f;
}

.galaxy1 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #D2691E;
    box-shadow: -4px 2px 56px #F4A460;
    position: absolute;
    top: -3px;
    left: 50%;
}

.galaxy2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #87A96B;
    background: linear-gradient(-180deg, #228B22, #50C878);
    box-shadow: -4px 2px 56px #006A4E;
    position: absolute;
    top: 50px;
    left: 96%;
}

.galaxy3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #89CFF0;
    box-shadow: -4px 2px 56px #89CFF0;
    position: absolute;
    top: 1px;
    left: 30%;
}

.galaxy4 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    animation: rotate-galaxy 3s linear infinite;
}

.galaxy5 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(-180deg,#c22828,#42240c);
    position: absolute;
    left: 1%;
    top: 150px;
}

.galaxy7 {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #664c28;
    background: linear-gradient(-180deg, #7B3F00, #C19A6B);
    position: relative;
    left: 40%;
    top: -4px;
}

.ring {
    position: absolute;
    width: 35px;
    height: 5px;
    border-radius: 50%;
    top: 5px;
    left: -45%;
    z-index: 1;
    background-color: transparent;
    border: 1px solid #f4a460;
    box-sizing: border-box;
}

.galaxy8 {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: linear-gradient(-180deg, #1877F1, #73C2FB);
    position: absolute;
    left: 45%;
    top: -8px;
}

.galaxy9 {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: darkblue;
    background: linear-gradient(-180deg, #002244, #89CFF0);
    position: absolute;
    left: 50%;
    top: -10px;
}

.galaxy6 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: linear-gradient(-180deg, #8B4513, #CC7722);
    position: absolute;
    left: 20%;
    top: 25px;
}

.galaxy__container {
    border: 1px solid #4C516D;
    border-radius: 50%;
    position: absolute;
}

.orbit1 {
    width: 90px;
    height: 90px;
    animation: rotate 8s linear infinite;
}

.orbit2 {
    width: 130px;
    height: 130px;
    animation: rotate 20s linear infinite;
}

.orbit3 {
    width: 170px;
    height: 170px;
    animation: rotate 40s linear infinite;
}

.orbit4 {
    width: 225px;
    height: 225px;
    animation: rotate 45s linear infinite;
}

.orbit5 {
    width: 420px;
    height: 420px;
    animation: rotate 75s linear infinite;
}

.orbit6 {
    width: 520px;
    height: 520px;
    animation: rotate 120s linear infinite;
}

.orbit7 {
    width: 620px;
    height: 620px;
    animation: rotate 150s linear infinite;
}

.orbit8 {
    width: 720px;
    height: 720px;
    animation: rotate 200s linear infinite;
}

.orbit9 {
    width: 830px;
    height: 830px;
    z-index: 1;
    left: 32%;
    bottom: 8%;
}

.stars {
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
}

.stars>span {
    position: absolute;
    width: 2px;
    height: 2px;
    left: 50%;
    top: -4px;
    border-radius: 50%;
    background-color: white;
    box-shadow: #4C516D;
}